.img-hor {
  transform: rotateY(180deg); // Rotate 180 degrees along the y-axis
}

.container {
  width: 100;
  margin: auto;
  text-align: center;
}

.hand {
  text-align: center;
  display: inline-block;
  width: 500px;
  height: 100px;
  padding-top: 5%;


}

.btn-div{

  padding-top: 10%;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
